services:
  postgres:
    image: 'postgres:17'
    environment:
      - 'POSTGRES_DB=gretta'
      - 'POSTGRES_PASSWORD=postgres'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
